{% extends "base.html" %}

{% block title %}<title>Blog</title>{%endblock title%}


{% block content %}
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">Main 
                <small>post</small>
            </h1>
            {% for item in posts %}
            <!-- Blog Post -->
                <div class="card mb-4">
                    
                    <div class="card-body">
                        <h2 class="card-title"><a href="{% url 'show_post' pk=item.id %}">{{item.title}}</a></h2>
                        <p class="card-text">{{item.description|safe}}</p>
                        <!-- <a href="#" class="btn btn-primary">Read More &rarr;</a> -->
                    </div>
                    <div class="card-footer text-muted">
                            {{item.date_create}} by
                        <a href="#">{{item.autor.first_name}} {{item.autor.last_name}}</a>
                    </div>
                </div>
            
            {% endfor %}
            
            

        </div>

        

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}