{% extends "base.html" %}
{%load static%}
{%load crispy_forms_tags %}
{% block title %}<title>Edit Posts</title>{%endblock title%}


{% block content %}
<!-- Page Content -->
<form method="POST" action="">
    {% csrf_token %}
    {{ form|safe}}
    <!-- <button type="submit" class="save btn btn-default">Registration</button> -->
    <!-- <input type='submit' class="btn  btn-block btn-primary" value="SingUp"> -->
    <input type='submit' class="btn  btn-block btn-primary" value="Save">
</form>

{% endblock %}