{% extends "base.html" %}
{%load static%}
{%load crispy_forms_tags %}
{% block title %}<title>Post</title>{%endblock title%}


{% block content %}
<h2> {{post.title}}</h2>
<hr>
<p>{{post.description|safe}}</p>

<p>{{post.date_create}} by</p>
<p >{{post.autor.first_name}} {{post.autor.last_name}}</p>
<hr>
    {%for item in comments%}
    <p>{{item.autor}}: {{item.text}}</p>
    {%endfor%}

<hr>
    {% if request.user.is_authenticated %}
    <form action="{% url 'add_comment' pk=post.id %}"  method="POST">
        {% csrf_token %}
        {{comment_form|crispy}}
        <input type='submit' class="btn  btn-block btn-primary" value="Sent">
    </form>
    {%else%}
    <p>you new registration or authorization for make comment</p>
    {%endif%}
{% endblock %}