{% extends "base.html" %}
{%load static%}
{%load crispy_forms_tags %}
{% block title %}<title>login</title>{%endblock title%}


{% block content %}
<h3>Login</h3>
<hr>
<div class="col-sm-8 col-sm-offset-2">
<form method="POST" action="">
    {% csrf_token %}
    {{ form|crispy}}
    <input type='submit' class="btn  btn-block btn-primary" value="SingUp">
</form>
</div>
<hr>
{% endblock %}