{% extends "base.html" %}
{%load static%}
{%load crispy_forms_tags %}
{% block title %}<title>Registration</title>{%endblock title%}


{% block content %}
<form method="POST" action="">
    {% csrf_token %}
    {{ form|crispy}}
    <!-- <button type="submit" class="save btn btn-default">Registration</button> -->
    <input type='submit' class="btn  btn-block btn-primary" value="SingUp">
</form>
{% endblock %}